@import "../../../../../node_modules/bootstrap/scss/bootstrap"
@import "../../../../styles/variables.sass"
$sizeSidebar: 230px

@mixin button-default
  font-size: 16px
  border-radius: 0.5em
  color: white
  width: $sizeSidebar
  height: 3em
  text-transform: uppercase
  font-weight: bold
  font-family: sans-serif
  letter-spacing: 0.1em
  text-align: center
  line-height: 3em
  position: relative
  overflow: hidden
  z-index: 1
  transition: 0.5s
  background: #272829
  border: 0

.sidebar-container
  display: grid
  flex-direction: column
  height: 100vh
  mat-sidenav-container mat-sidenav
    width: $sizeSidebar
    background: black
    .sidebar-header
      position: relative
      width: 130px
      height: 120px
      left: 50px
      top: 10px
      margin-bottom: 10px
      img
        position: absolute
        width: 100%
    .sidebar-body
      mat-list-item
        list-style-type: none
        margin: 0
        padding: 0

        button
          @include button-default

          &:hover
            color: $button-on-hover-color
      mat-expansion-panel
        list-style-type: none
        margin: 0
        width: $sizeSidebar
        background: $button-color
        mat-expansion-panel-header
          text-align: center

          a
            @include button-default

            &:hover
              color: $button-on-hover-color
        mat-expansion-panel-body mat-nav-list a span
          color: white

          &:hover
              color: $button-on-hover-color

.router-container
  background: white
  .header
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 50px
    grid-template-areas: "title title user"
    padding: 5px 15px 15px 15px
    background: $base-color
    .title
      grid-column: title
      color: black
      padding: 10px 5px
    .user
      display: flex
      justify-content: flex-end
      grid-column: user
      padding-top: 15px
      align-items: center

    h2
      color: $black-color
      position: relative
      text-decoration: none
      font-family: "Lobster",serif
