<div class="sidebar-container">
  <mat-sidenav-container class="sidebar-sidenav-container" autosize>
    <mat-sidenav
      mode="side"
      [fixedInViewport]="mobileQuery.matches"
      [opened]="showSideNav"
      fixedTopGap="56">
      <div class="sidebar-header">
        <img
          ngSrc="./../../../../assets/logo.png"
          alt="logo"
          height="120"
          width="120" />
      </div>
      <div class="sidebar-body">
        <mat-nav-list>
          <div *ngFor="let menu of menus">
            <div *ngIf="!menu.hide">
              <div [ngSwitch]="menu.type">
                <mat-list-item
                  *ngSwitchCase="'itemMenu'"
                  [routerLink]="menu.disabled ? null : menu.routerLink"
                  (click)="menu.click ? null : this.onClick(menu, 'menu')"
                  [matTooltip]="menu.tooltip"
                  [disabled]="menu.disabled">
                  <button>
                    <fa-icon [icon]="menu.icon"></fa-icon>
                    {{ menu.label }}
                  </button>
                </mat-list-item>
                <mat-expansion-panel
                  *ngSwitchCase="'expansion'"
                  [disabled]="menu.disabled"
                  [matTooltip]="menu.tooltip"
                  (click)="menu.click ? this.onClick(menu, 'menu') : null">
                  <mat-expansion-panel-header>
                    <a class="nav-link center-content">
                      <fa-icon [icon]="menu.icon"></fa-icon>
                      {{ menu.label }}
                    </a>
                  </mat-expansion-panel-header>
                  <mat-expansion-panel-body>
                    <mat-nav-list
                      *ngFor="let item of menu.subMenus; let i = index"
                      [disabled]="item.disabled"
                      [routerLink]="item.disabled ? null : item.routerLink"
                      (click)="
                        menu.subMenus[i].onClick
                          ? this.onClick(menu, 'subMenu', i)
                          : null
                      ">
                      <a mat-list-item [matTooltip]="item.tooltip">
                        <span class="sub-menu-button">
                          <fa-icon [icon]="menu.subMenus[i].icon"></fa-icon>
                          {{ item.label }}
                        </span>
                      </a>
                    </mat-nav-list>
                  </mat-expansion-panel-body>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
        </mat-nav-list>
      </div>
    </mat-sidenav>

    <mat-sidenav-content class="router-container">
      <div class="header">
        <div class="title">
          <h2>{{ title }}</h2>
        </div>
        <div class="user">
          <button mat-icon-button class="me-3">
            <mat-icon matBadge="15" matBadgeColor="warn" aria-hidden="false"
              >notifications</mat-icon
            >
          </button>
          <div class="d-inline-flex position-relative me-3">
            <img
              class="rounded-5 shadow-4"
              [src]="'/assets/img.png'"
              alt="Avatar"
              style="width: 40px; height: 40px" />
          </div>
          <div ngbDropdown>
            <a
              ngbDropdownToggle
              class="nav-link"
              role="button"
              aria-expanded="false">
              {{ (this.currentUser | async)?.username }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu-end">
              <li><a ngbDropdownItem style="cursor: pointer">User</a></li>
              <li><a ngbDropdownItem style="cursor: pointer">Fetch Data</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a ngbDropdownItem style="cursor: pointer" (click)="onLogOut()"
                  ><i class="fa-solid fa-arrow-right-from-bracket"></i>
                  LogOut</a
                >
              </li>
            </div>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
