@if (formReady) {
  <div class="white-background rounded-corners container">
    <div [formGroup]="form" class="left-side">
      <mat-form-field class="px-3">
        <mat-label>by: Cultures</mat-label>
        <mat-select
          formControlName="culture_type"
          (selectionChange)="doSearch()">
          <mat-option value="">None</mat-option>
          <mat-option value="wheat">Grau</mat-option>
          <mat-option value="maize">Porumb</mat-option>
          <mat-option value="canola">Rapita</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right-side">
      @if (!showMode) {
        <app-action-bar>
          <app-action-bar-action routerLink="/cultures/add">
            <fa-icon [icon]="icons['tractor']"></fa-icon>
            Add
          </app-action-bar-action>
          <app-action-bar-action (click)="updateDelete()">
            <fa-icon [icon]="icons['trash']"></fa-icon>
            Delete
          </app-action-bar-action>
        </app-action-bar>
      }
    </div>
  </div>
  <div class="app-map">
    <app-map
      [config]="config"
      [style]="{ 'height.vh': 78 }"
      [polygons]="selectPolygonsCoordinatesSubscriptions$ | async"
      (polygonClickAction)="polygonClick($event)">
    </app-map>
  </div>
} @else {
  <app-loader></app-loader>
}
