<div class="white-background">
  <app-cultures-information [culture]="culture" [mode]="mode" [parentFormGroup]="form"></app-cultures-information>
  <div class="rounded-corners">
    <h3 class="p-2">Map View</h3>
    <div class="map-view">
      <app-map [mode]="mode" [polygonClickable]="true" [polygons]="this.mapParcels" [parentFormGroup]="form" [style]="mapStyle"></app-map>
      <app-table [columns]="addCultureColumn" [showSelectAll]="true" [parentFormGroup]="form" [style]="tableStyle"></app-table>
    </div>
  </div>
</div>
