<div class="white-background rounded-corners">
  <h3>Culture Information</h3>
  <div [formGroup]="parentFormGroup">
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Culture name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Variety</mat-label>
      <input matInput placeholder="Variety" formControlName="variety">
    </mat-form-field>
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Culture type</mat-label>
      <mat-select formControlName="culture_type">
        <mat-option [value]="'maize'">Maize</mat-option>
        <mat-option [value]="'wheat'">Wheat</mat-option>
        <mat-option [value]="'rapeseed'">Rapeseed</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="px-1 py-2" >
      <mat-label>Sowing Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="sowing_date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Harvest date</mat-label>
      <input matInput [matDatepicker]="pickerTwo" formControlName="harvest_date">
      <mat-datepicker-toggle matIconSuffix [for]="pickerTwo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTwo></mat-datepicker>
    </mat-form-field>
  </div>
</div>
