<div class="white-background rounded-corners">
  <h3>Parcel Information</h3>
  <div [formGroup]="parentFormGroup">
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Culture name" formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="outline" class="px-1 py-2">
      <mat-label>Topographic Number:</mat-label>
      <input matInput placeholder="Topographic Number" formControlName="topographic_number">
    </mat-form-field>
  </div>
</div>
