<div
  class="map"
  leaflet
  [ngStyle]="config.map.style"
  leafletDraw
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
  [leafletDrawOptions]="drawOptions"
  (leafletZoomChange)="setZoom($event)"
  (leafletDrawCreated)="onDrawCreated($event)"
  (leafletDrawEdited)="onDrawEdited($event)"
  (leafletDrawDeleted)="onDrawDeleted($event)">
  <div [leafletLayer]="initialDrawn"></div>
  @if (config.form.mode === FormMode.Edit || FormMode.Create) {
    <div [leafletLayer]="drawnItems"></div>
  }
</div>
