<span>
  <app-information-form [mode]="mode" [parentFormGroup]="form"></app-information-form>
  <div class="rounded-corners">
    <h3 class="p-2">Map View</h3>
    <div class="map-view">
      <app-map
        [mode]="mode"
        [polygons]="selectPolygonsCoordinatesSubscriptions$ | async"
        [polygonsToEdit]="selectPolygonsCoordinatesToEditSubscriptions$ | async"
        (drawCreated)="drawCreated($event)"
        (drawEdited)="drawEdited($event)"
        (drawDeleted)="drawDeleted($event)"
      ></app-map>
      <app-table [columns]="addParcelsColumn" [mode]="mode" [showSelectAll]="true" [dataset]="polygons" [style]="tableStyle"></app-table>
    </div>
  </div>
</span>
